<a href="https://colab.research.google.com/github/kzeynep/python_giris/blob/main/Built_in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = list(range(10))
kare = []
for i in list1 :
  t = i*i 
  kare.append(t)

In [2]:
print(kare)
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#map function : bize verilen bir dizini elemanlarını belirlediğimiz bir fonksiyonu bu elemanlar üzerinde uygulamamızı sağlar.Map fonksiyonu iki argüman alır birinci fonksiyunumuz ikinci argümanda bir liste tuple ya da başka bir iterable nesne olmalıdır.
list2 = list(range(10))
def kare (x) :
  return x*x
kare_list = list(map(kare , list2))

In [5]:
print(kare_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
list(map(lambda x : x*x ,list2))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
faktöriyel = 1
for i in range(1,6):
  faktöriyel *= i
print(faktöriyel)

120

In [8]:
from functools import reduce

In [9]:
#reduce function : map fonksiyonu gibi ondan ayıran özelliği farklı bir liste döndermez bunu yerine size listenin elemanlarına uygulamak istediğiniz fonksiyonu kümülatif oalrak uygulayıp bize tek biir sonuç döndürür.
print(reduce(lambda x,y : x*y , range(1,10)))

362880

In [10]:
list3 = [16,4,2,1]
bölme = reduce(lambda x,y : x/y , list3)

In [11]:
print(bölme)

2.0

In [12]:
#filter function : bize elimizdeki iterable nesneleri ihtiyacımız dahilinde filtrelemeyi sağlar.
list4 = [100,8,11,14,6,9,200]
cift_sayilar = list(filter(lambda x : x%2==0,list4))

In [13]:
print(cift_sayilar)

[100, 8, 14, 6, 200]

In [14]:
kare = map (lambda x : x*x , range(15))
list5=list(filter(lambda x : x>10 and x<150 ,kare))
print(list5)

[16, 25, 36, 49, 64, 81, 100, 121, 144]

In [20]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

In [23]:
is_prime(11)

True

In [24]:
is_prime(27)

False

In [25]:
meyveler=['elma','armut','muz','çilek','kiraz']
index=0
index_meyveler =[]
for i in meyveler :
  index_meyveler.append((index , i))
  index +=1
  print(index_meyveler)

[(0, 'elma')]
[(0, 'elma'), (1, 'armut')]
[(0, 'elma'), (1, 'armut'), (2, 'muz')]
[(0, 'elma'), (1, 'armut'), (2, 'muz'), (3, 'çilek')]
[(0, 'elma'), (1, 'armut'), (2, 'muz'), (3, 'çilek'), (4, 'kiraz')]

In [26]:
#Enumerate function : iterable nesnemize index numaraları eklememize olanak veren bir fonksiyondur.
enumerate(meyveler)

In [27]:
list(enumerate(meyveler))

[(0, 'elma'), (1, 'armut'), (2, 'muz'), (3, 'çilek'), (4, 'kiraz')]

In [28]:
#zip function : elimizdeki iterable nesneleri birleştirerek yeni bir tuple listesi oluşturmamızı sağlar
list1 = [1,2,3,4]
list2=[5,6,7,8]
zip(list1,list2)

In [29]:
list(zip(list1,list2))

[(1, 5), (2, 6), (3, 7), (4, 8)]